body{
    background-color: #FFF8EA;
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #594545bd;
    padding: 5px 0;
    font-family: Teko;
    font-size: 21px;
    color: #382c2c;
}

h1{
    text-align: center;
    font-weight:500;
    /*text-decoration: underline;*/
    color:#594545;
    background-color:#FFF8EA;
    font-family:Cinzel, sans-serif; 
    border-style:double;
    border-color:#594545;
    border: width 1px;
    width: 600px;
}

img{
    width: 230px;
    height: 300px;
    border-radius: 20px;
}
h2{
    text-align:center;
    font-family:Cormorant Garamond;
    background-color:#594545;
    border-style:solid;
    width: 500px;
    align-self: center;
    color:#FFF8EA;
    padding:0.1em 0.1em;

}
h4{
    text-align:left;
    font-size: 25px;
    color:#856363;
    font-weight:bold;
    font-family: Tangerine, sans-serif;
    line-height:5px;
}

h3{
    font-family: Cinzel;
    color: #382c2c;
}
